body {
    display: block;
    background-color: rgb(92, 32, 32);
    color: rgb(226, 214, 214);
    text-shadow: 5px 5px 5px black;
    text-align: center;
}

h2 {
    opacity: 0%;
}

ul {
    list-style-type: none;
}

a {
    color:chartreuse;
}

footer {
    position: absolute;
    width: 99%;
    bottom: 3%;
}

#randomButton {
    margin-top: 10%;
    padding: 10px 30px;
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
}

#pokemon {
    margin-top: 15%;
    display: inline-block;
    background-color: rgba(255, 255, 255, .1);
    width: 0%;
    border-radius: 10%;
}